---
import { contentfulClient } from '../../lib/contentful';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import { BLOCKS, INLINES, MARKS } from '@contentful/rich-text-types';
import Layout from '../../layouts/Layout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';

export async function getStaticPaths() {
  const { items } = await contentfulClient.getEntries({
    content_type: 'article',
  });

  const pages = items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      content: item.fields.content,
      date: new Date(item.fields.date).toLocaleDateString(),
      authorName: item.fields.author.fields.name,
      authorImage: item.fields.author.fields.profileImage,
      featuredImage: item.fields.featuredImage,
    },
  }));

  return pages;
}

const {
  content,
  title,
  date,
  authorName,
  authorImage,
  featuredImage,
} = Astro.props;

const options = {
  renderNode: {
    [BLOCKS.EMBEDDED_ENTRY]: (node) => {
      if (node.data.target.sys.contentType.sys.id === 'codeBlock') {
        return ` <pre class=${node.data.target.fields.language}}>
                 <code>${node.data.target.fields.code}</code>
               </pre>`;
      }
    },
  },
};

const htmlContent = documentToHtmlString(content, options);
---

<Layout title={`Hackitude | ${title}`}>
  <section>
    <div class="max-w-5xl mx-auto py-8 px-8 md:px-0">
      <img
        src={featuredImage.fields.file.url}
        alt={featuredImage.fields.title}
        class="rounded-xl object-cover h-96 w-full"
      />
      <Breadcrumbs title={title} />
      <time
        class="text-lg font-bold tracking-tight bg-brand-green w-fit p-1"
        >{date}</time
      >
      <h1
        class="text-4xl font-bold tracking-tight sm:text-6xl mt-4 mb-8"
      >
        {title}
      </h1>
      <div class="-ml-4 flex items-center gap-x-4">
        <svg
          viewBox="0 0 2 2"
          class="-ml-0.5 h-0.5 w-0.5 flex-none fill-white/50"
        >
          <circle cx="1" cy="1" r="1"></circle>
        </svg>
        <div class="flex gap-x-2.5">
          <img
            src={`https:${authorImage.fields.file.url}`}
            alt={authorName}
            class="h-6 w-6 flex-none rounded-full bg-white/10"
            loading="lazy"
          />
          {authorName}
        </div>
      </div>
      <article class="prose mt-4" set:html={htmlContent} />
    </div>
  </section>
</Layout>
