---
import { contentfulClient } from '@lib/contentful';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import { BLOCKS, INLINES, MARKS } from '@contentful/rich-text-types';
import Layout from '../../layouts/Layout.astro';
import Breadcrumbs from '@common/Breadcrumbs.astro';
import { Icon } from 'astro-icon';
import ShareButtons from '../../components/ShareButtons.astro';

export async function getStaticPaths() {
  const { items } = await contentfulClient.getEntries({
    content_type: 'article',
  });

  const pages = items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      slug: item.fields.slug,
      title: item.fields.title,
      content: item.fields.content,
      date: new Date(item.fields.date).toLocaleDateString(),
      authorName: item.fields.author.fields.name,
      authorImage: item.fields.author.fields.profileImage,
      featuredImage: item.fields.featuredImage,
      seoSchema: item.fields.seoSchema,
    },
  }));

  return pages;
}

const {
  slug,
  content,
  title,
  date,
  authorName,
  authorImage,
  featuredImage,
  seoSchema,
} = Astro.props;

const options = {
  renderNode: {
    [BLOCKS.EMBEDDED_ENTRY]: (node) => {
      if (node.data.target.sys.contentType.sys.id === 'codeBlock') {
        return ` <pre class="${node.data.target.fields.language}">
                 <code class="${node.data.target.fields.language}">${node.data.target.fields.code}</code>
               </pre>`;
      }
    },
  },
};

const htmlContent = documentToHtmlString(content, options);

// Add time to read
const wordCount = htmlContent.split(' ').length;
const timeToRead = Math.ceil(wordCount / 200);
---

<Layout title={`Hackitude | ${title}`} seoSchema={seoSchema}>
  <section class="bg-gradient-to-b from-white to-gray-50">
    <div class="max-w-5xl mx-auto py-8 px-8 md:px-0">
      <img
        src={featuredImage.fields.file.url}
        alt={featuredImage.fields.title}
        class="rounded-xl object-cover h-96 w-full"
        loading="eager"
      />
      <Breadcrumbs title={title} />
      <ShareButtons slug={slug} />
      <time
        class="text-lg font-bold tracking-tight bg-brand-green w-fit p-1"
        >{date}</time
      >
      <h1
        class="text-4xl font-bold tracking-tight sm:text-6xl mt-4 mb-8"
      >
        {title}
      </h1>
      <div class="-ml-4 flex items-center gap-x-4">
        <svg
          viewBox="0 0 2 2"
          class="-ml-0.5 h-0.5 w-0.5 flex-none fill-white/50"
        >
          <circle cx="1" cy="1" r="1"></circle>
        </svg>
        <div class="flex gap-x-2.5">
          <img
            src={`https:${authorImage.fields.file.url}`}
            alt={authorName}
            class="h-6 w-6 flex-none rounded-full bg-white/10"
            loading="lazy"
          />
          {authorName}
        </div>
        <div
          class="text-sm mt-1 flex items-center gap-x-2 text-gray-500"
        >
          <Icon
            name="fe:clock"
            size={16}
            class=""
            aria-hidden="true"
          />
          {timeToRead} min
        </div>
      </div>
      <article class="prose mt-4" set:html={htmlContent} />
    </div>
  </section>
  <script>
    import hljs from 'highlight.js';

    //highlight.js
    document.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll('pre code').forEach((el: any) => {
        hljs.highlightElement(el);
      });
    });
  </script>
</Layout>
