---
import { contentfulClient } from '@lib/contentful';
import ArticleCard from './ArticleCard.astro';

const entries = await contentfulClient.getEntries({
  content_type: 'article',
  order: '-sys.createdAt',
});

const posts = entries.items.map((item) => {
  const { title, date, featuredImage, summary, slug, author } =
    item.fields;
  return {
    title,
    slug,
    summary,
    date: new Date(date).toLocaleDateString(),
    featuredImage,
    authorName: author.fields.name,
    authorImage: author.fields.profileImage,
  };
});
---

<div
  class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
>
  {
    posts.map((post) => (
      <ArticleCard
        title={post.title}
        slug={post.slug}
        summary={post.summary}
        date={post.date}
        featuredImage={post.featuredImage}
        authorName={post.authorName}
        authorImage={post.authorImage}
      />
    ))
  }
</div>
